<div class="header-menu">
    <div class="header-menu__wrapper">
        <img class="header-menu__logo" src="../../assets/logo.svg"/>
        <div class="header-menu__actions">
            <button *ngIf="!isAuth" class="header-menu__action _login" (click)="openDialog()">Войти</button>
            <img *ngIf="isAuth" (click)="toggleMenu()" class="header-menu__action _user" src="../../assets/user.svg"
                 title="Иван Иванов"/>
            <button class="header-menu__action _exit" *ngIf="isMenuOpened">Выйти</button>
        </div>
    </div>
</div>