<div class="footer-menu">
  <div class="footer-menu__wrapper">
    <img class="footer-menu__logo" src="../../assets/logo.svg"/>
            <div class="footer-menu__info">
                <div class="footer-menu__info _name">© “Деловой календарь”, 2023 - 2024. Все права защищены
                </div>
                <div class="footer-menu__info _agreement">Пользовательское соглашение</div>
               <div class="footer-menu__info _policy">Политика конфиденциальности</div>
               <div class="footer-menu__info _development">Разработка сайта: IT-prospects</div>
            </div>
  </div>
</div>
