<div *ngIf="data.length !=0" class="events-list">
    <event-card *ngFor="let event of data"
                class="events-list__card"
                [image]="event.imageName"
                [date]="event.eventDate"
                [address]="event.address"
                [duration]="event.eventDuration"
                [title]="event.title"
                [description]="event.description"
                [id] = "event.id"
    ></event-card>
</div>
<div *ngIf="data.length == 0" class="events-list-empty">
    <div class="events-list-empty__info">Мероприятий на это число не запланировано
    </div>
    <img class="events-list-empty__image" src="../../assets/not-found.svg"/>
</div>
