<div class="detailed-card">
    <div class="detailed-card__image-wrapper">
        <img class="detailed-card__image" src="{{ image }}">
    </div>
    <div class="detailed-card__title">{{ title }}</div>
    <div class="detailed-card__description">{{description}}</div>
    <div class="detailed-card__date"><img src="../../assets/Time.svg"> {{ date }}, {{duration}}</div>
    <div class="detailed-card__place"><img src="../../assets/location.svg"> {{ place }}</div>
    <button class="detailed-card__action">Присоединиться</button>
</div>
