.register-event-popup {
    width: 700px;
    height: 950px;
    overflow: hidden;

    &._request-success {
        width: 800px;
        height: 400px;
    }

    &__field-error {
        position: absolute;
        bottom: 150px;
        display: none;
        color: #ff9090;

        &._visible {
            display: block;
        }
    }

    &__success-state {
        padding: 30px 35px;
    }

    &__form {
        padding: 40px 49px;
    }

    &__title {
        text-align: center;
        font-size: 54px;
        font-weight: 700;
        margin-bottom: 70px;
        line-height: normal;
    }

    &__ok-btn {
        border: 1px solid #7635BD;
        color: #FFFFFF;
        background: #7635BD;
        padding: 15px 40px;
        border-radius: 20px;
        transition: all .25s;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        position: absolute;
        right: 54px;
        bottom: 40px;

        &:hover {
            background: #6928B0;
        }
    }

    &__subtitle {
        color: #262626;
        font-size: 36px;
        font-weight: 300;
    }

    &__close-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 40px;
        margin-top: 40px;
        cursor: pointer;
        transition: all .25s;
        border-radius: 10px;

        &:hover {
            background: #F4F4F4;
        }
    }

    &__error-msg {
        text-align: center;
        font-weight: 500;
        font-size: 16px;
    }

    &__submit {

        &-wrapper {
            margin-top: 60px;
            margin-bottom: 15px;
            text-align: center;
        }

        &-btn {
            border: 1px solid #7635BD;
            color: #FFFFFF;
            background: #7635BD;
            padding: 15px 40px;
            border-radius: 20px;
            transition: all .25s;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;

            &._disabled {
                background: #F4F4F4;
                color: #C2C2C2;
                cursor: default;
                border: 1px solid var(--dark-gray, #C2C2C2);
            }

            &:hover:not(._disabled) {
                background: #6928B0;
            }
        }
    }

    &__field {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        label {
            font-size: 18px;
            font-weight: 400;
        }

        input {
            width: 600px;
            height: 70px;
            border-radius: 20px;
            border: 1px solid var(--dark-gray, #C2C2C2);
            font-size: 18px;
            font-weight: 400;

            &[type=text] {
                padding: 0 20px;
                box-sizing: border-box;
            }

            &::placeholder {
                color: #C2C2C2;
            }
        }
    }
}
