.event-card {
    width: 346px;
    height: 483px;
    border-radius: 20px;
    border: 3px solid lightgray;
    padding: 30px 20px;

    &__image-wrapper {
        margin: 0 auto;
        position: relative;

        img {
            width: 100%;
        }
    }

    &__price {
        position: absolute;
        bottom: 15px;
        left: 10px;
        width: 109px;
        height: 29px;
        border-radius: 20px;
        background: linear-gradient(90deg, #7635BD 0%, #56BEE2 100%);
        color: white;
        text-align: center;
        line-height: 29px;
    }

    &__title {
        margin-top: 20px;
        font-size: 36px;
        font-weight: 300;
        margin-bottom: 10px;
    }

    &__date, &__place {
        font-size: 16px;
        font-weight: 400;
        color: #C2C2C2;
    }

    &__action {
        margin-top: 20px;
        padding: 15px 35px;
        background: #7635BD;
        border-radius: 4px;
        border: none;
        color: white;
        cursor: pointer;
    }
}
